*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #faedcd;
}

#container{
    background-color: rgb(231, 207, 207);
    height: 65vh;
    width: 25vw;
    padding: 2rem;
    border-radius: 1rem; 
}


h2{
    text-align: center;
    font-family: sans-serif;
}


#amount p{
    margin-bottom: 4px;
}

form{
    margin-top: 2rem;
    margin-bottom: 1rem;
}


form select, input,button{
    border: none;
    border-radius: 0.75rem;
    outline: none;
    width: 100%;
    background-color: rgb(231, 207, 207);
}


input{
    border: 1px solid black;
    font-size: 1rem;
    height: 3rem;
    padding: 5px;
    font-weight: bold;
}



#dropdown{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}


#dropdown p{
    margin-bottom: 4px;
}

.select select{
    font-size: 1rem;
    width: auto;
}


.select-cont img{
    width: 2rem;
}


.select-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    padding: 2px;
}


button{
    color: white;
    background-color: #cc899c;
    height: 3rem;
    font-size: 1.15rem;
    cursor: pointer;
}


#msg{
    margin-top: 2rem;
    margin-bottom: 2rem;
}